{# object : instance of BasicModelMixin #}
{# object_collaborator : instance of ObjectCollaboratorMixin#}
{# target_url : URL to be used in the url template tag, the URL that actually removes the collaborator #}

{% include "learning/_includes/collaborators/modals/delete_collaborator_on_object.html" with object=object object_collaborator=object_collaborator target_url=target_url %}
<button class="btn btn-outline-danger" type="button" data-toggle="modal"
        data-target="#delete-collaborator-{{ object_collaborator.collaborator.id }}-from-{{ object.slug }}">
  <i class="fa fa-trash-alt fa-sm"></i>
</button>
