<div class="form-group">
  {{ password.label_tag }}
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-lock"></i></span>
    </div>
    <input type="password" id="{{ password.id_for_label }}" name="{{ password.name }}"
           class="form-control {% if password.errors %}is-invalid{% endif %}" required>
    {% if password.errors %}
      <div class="invalid-feedback">
        {{ password.errors }}
      </div>
    {% endif %}
  </div>
  <small id="{{ password.name }}_help_block" class="form-text text-muted">
    {{ password.help_text }}
  </small>
</div>
