{% extends "learning/course/base.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Create a new course" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Teaching" "" %}
  {% breadcrumb "My courses" "learning:course/teaching" %}
  {% breadcrumb "Create a new course" "learning:course/add" %}
{% endblock %}

{% block learning_content %}
  <form name="object_add_form" method="post" id="course_add_form">
    <h1>{% trans "Create a new course" %}</h1>
    <hr>
    {% csrf_token %}

    <ul id="course_form_progress_bar">
      <li class="progress_tab">{% trans "Specifications" %}</li>
      <li class="progress_tab">{% trans "Properties" %}</li>
      <li class="progress_tab">{% trans "Description" %}</li>
      <li class="progress_tab">{% trans "Validation" %}</li>
    </ul>

    {% include "learning/_includes/forms/add_form_buttons.html" %}

    {% include "learning/course/_includes/course_form.html" with form=form %}
    <button type="submit" id="add_course_submit_button" class="btn btn-primary float-right">
      {% trans "Create a new course" %}
    </button>
  </form>
{% endblock %}
