{% extends "learning/base.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Create a new activity" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Teaching" "" %}
  {% breadcrumb "My activities" "learning:activity/my" %}
  {% breadcrumb "Create a new activity" "learning:activity/add" %}
{% endblock %}

{% block learning_content %}
  <form name="object_add_form" method="post" id="activity_add_form">
    <h1>{% trans "Create a new activity" %}</h1>
    <hr>
    {% csrf_token %}

    <ul id="activity_form_progress_bar">
      <li class="progress_tab">{% trans "Specifications" %}</li>
      <li class="progress_tab">{% trans "Properties" %}</li>
      <li class="progress_tab">{% trans "Description" %}</li>
      <li class="progress_tab">{% trans "Validation" %}</li>
    </ul>

    {% include "learning/_includes/forms/add_form_buttons.html" %}

    {% include 'learning/activity/_includes/activity_form.html' with form=form %}
    <button type="submit" id="add_activity_submit_button" class="btn btn-primary float-right">
      {% trans "Create activity" %}
    </button>
  </form>
{% endblock %}
